<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Contatti</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Contattami</h1>
    <nav>
      <a href="index.html">Home</a>
      <a href="calcoli.html">Calcoli</a>
      <a href="contatti.html">Contatti</a>
    </nav>
  </header>

  <main>
    <p>Puoi scrivermi a: <strong>riccardo@example.com</strong></p>
  </main>

  <footer>
    <p>&copy; 2025 Riccardo Engin Righini</p>
  </footer>
</body>
</html>
